<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <% if (user_id) {%>
  <ul>
    <% let currUserLinks = userLinks; %>
    <% for (let tinyURL in currUserLinks) { %>
    <li>
      <form method="POST" style="margin:20px" action=<%=`/urls/${tinyURL}/delete`%>>

        <a href=<%= urls[tinyURL]%>> localhost:8080/u/<%= tinyURL %></a> &#x2192 <a href=<%= urls[tinyURL] %>> <%= urls[tinyURL]; %> </a>
        <a style="margin:15px" href=<%=`/urls/${tinyURL}`%>>Edit</a>
        <input type="submit" style="margin:10px" value="Delete">
      </form>
    </li>
    <% } %>
  </ul>
  <% } %>
  <% if (user_id) {%>
    <a href="/urls/new">Create a new tinyURL link</a>
  <% } %>
</body>
</html>